/results
/system/models
*__pycache__*
.DS_Store
dataset/FedCMAPSS/cmapss_processed_test_data.csv
dataset/FedCMAPSS/cmapss_processed_train_data.csv
dataset/FedCMAPSS/tasks.json
private/dataset/
dataset/FedCMAPSS.zip
wandb/
out.txt
slurm_launch.sh
.vscode/settings.json
metrics/
runs/
*.png
*.csv
*.pt